cover_db
META.yml
Makefile
blib
pm_to_blib
MANIFEST
Makefile.old
nytprof.out
*/*/*.o
*/*/*.dylib
*/*/test
*/*/*.a
t/010_simple/hello
*/*/main
*/*/a.out
t/070_install/hello
t/070_install/local/
t/*/inc/
inc/Module/Install.pm
inc/Module/Install/Base.pm
inc/Module/Install/Can.pm
inc/Module/Install/Fetch.pm
inc/Module/Install/Include.pm
inc/Module/Install/Makefile.pm
inc/Module/Install/Metadata.pm
inc/Module/Install/Win32.pm
inc/Module/Install/WriteAll.pm
inc/Test/More.pm
t/090_dist/test-0.01.tar.gz
*/*/MANIFEST.bak
*/*/*.tar.gz
*.bak
t/110_test/t/01_simple
t/110_test/t/01_simple.t
t/110_test/t/01_simple.o
